body {
    background-color: rgb(125, 218, 125)
}

.jumbotron {
    text-align: center;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
}