body {
    background-color: rgb(125, 218, 125)
}

form {
    background-color: rgb(176, 176, 206);
    border: 1px solid black;
}

.jumbotron {
    text-align: center;
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    text-shadow: 2px 2px black;
}